body{
    background: rgb(32, 32, 32);
    color: rgb(20, 102, 134);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}
#cabecera #tagline{
padding: 0 0 0 1em;
font-weight: normal;
font-size: 0.8em;
}
#cabecera{
    background: rgb(4, 81, 112), url("../Imagenes/logo.png") no-repeat center center;
    background-color: rgb(0, 71, 99);
    box-shadow: 0px 2px 50px 0px rgb(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;

}
#cabecera #logo{
    width: 25px;
    vertical-align: middle;
}
p{
    font-family: 'Times New Roman';
    color: darkgray;
    font-size: 18px;
}
#container h2{
font-size: 15;
color: tomato;
font-family: Arial;
}
#post{
    background:white ;
    padding: 1em;
}
#footer{
background: rgb(88, 88, 88);
color:white;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;

}